.page {
  font-family: var(--font-geist-sans);
  max-width: 1200px;
  margin: var(--size-large) auto;
  padding: var(--spacing-x-large);
  
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 1;
  margin: 0 var(--size-regular);
}